* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s linear;
}

body {
    background-color: #f4f4f4;
    color: #383838;
    line-height: 1.6;
    padding: 1rem 12%;
}


#my-event {
    display: flex;
    gap: 1.2rem; 
    padding-top: 5rem;
}


#my-event .col-md-4 {
    flex: 1; 
    max-width: 18.8rem; 
}

#my-event .box {
    box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#my-event .avatar img {
    border-radius: 50%;
    width: 6.3rem;
    height: 6.3rem;
}

#my-event .user-name {
    font-weight: bold;
    margin-top: 0.6rem;
}

#my-event .btn {
    margin-top: 1.3rem;
    padding: 0.6rem 1.3rem;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#my-event .btn:hover {
    background-color: #3b843f;
}


#my-event .event-info {
    position: relative;
    flex: 2; 
    background: white;
    padding: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.1); 
}


#my-event .event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#my-event .event-icons {
    display: flex;
    gap: 0.6rem;
}

#my-event .event-icons i {
    font-size: 1.2rem;
    cursor: pointer;
    color: #6c757d;
    transition: color 0.3s;
}

#my-event .event-info .date {
    background-color: #45a049;
    color: #fff;
    border-radius: 1rem;
    padding: 0.1rem 0.4rem;
    font-size: 1rem;
}

#my-event .event-info .event-icons i:hover {
    color: #3b843f; 
}


#my-event .event-info h3 {
    margin-bottom: 0.3rem;
}

#my-event .event-info p {
    font-size: 1rem;
    color: #6c757d;
}


#my-event .event-info .description {
    margin-top: 0.6rem;
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 0.4rem;
}
