* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #383838;
}

.admin-layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
aside {
    width: 15.6rem;        
    background-color: #ffffff;
    
    border-right: 0.1rem solid #ddd; 
}
aside h3{
    padding: 1rem 1rem .5rem;
}
aside nav a,
aside nav button {
    color: #383838;
    background: none;
    transition: 0.3s;
}

aside nav a:hover,
aside nav button:hover,
aside nav a.active,
aside nav button.active {
    color: #fff;
    background: #45a049;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* Header */
.admin-header {
    background-color: #ffffff;
    height: 4.4rem;        
    border-bottom: 0.1rem solid #ddd; 
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.dropbtn {
    background: #45a049;
    color: #fff;
    padding: 0.5rem 1rem;   
    border: none;
    border-radius: 0;  
    cursor: pointer;
    transition: 0.3s;
}

.dropbtn:hover {
    background-color: #3e8e41;
    font-weight: bold;
}

.dropdown {
    position: relative;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
    min-width: 9.4rem;      
    z-index: 1000;
    border-radius: 0.3rem; 
}

.dropdown-content a {
    color: black;
    padding: 0.6rem;       
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Admin body area */
.admin-body {
    flex-grow: 1;
    background-color: #f9f9f9;
}
header .btn {
    color: #383838;
    font-weight: 100;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0;
}
header .btn:hover {
    border-bottom: .1rem solid #4CAF50;
    color: #45a049;
    font-weight: bold;
}
    
.stat-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    flex: 1 1 calc(25% - 1rem); 
    max-height: 6rem;
    max-width: 18rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.stat-card i{
    color: #b1b1b1;
}

.stat-card:hover {
    background: #f0f0f0;
}

.stat-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    
}

.stat-card p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #383838;
}
